<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="profile-container">

        {% if user %}
            <a href="/logout">logout</a>
            <h2>User Information:</h2>
            <p><strong>Full Name:</strong> {{ user.fullname }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Phone:</strong> {{ user.phone }}</p>
            <p><strong>Aadhar No:</strong> {{ user.aadhar_number }}</p>
        {%endif%}
        </div>
        <form action="/edit">
            <input type="submit" value="Edit Profile">
        </form>
        
    </div>
</html>